---
permalink: /acerca/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/nosotros/">
  <link rel="canonical" href="{{ site.url }}/nosotros/">
  <title>Redirigiendo a Nosotros…</title>
</head>
<body>
  <p>Esta página se mudó. Si no te redirige automáticamente, <a href="/nosotros/">hacé click acá</a>.</p>
</body>
</html>
