---
permalink: /archivo/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/publicaciones/">
  <link rel="canonical" href="{{ site.url }}/publicaciones/">
  <title>Redirigiendo a Publicaciones…</title>
</head>
<body>
  <p>Esta página se mudó. Si no te redirige automáticamente, <a href="/publicaciones/">hacé click acá</a>.</p>
</body>
</html>
