---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  {% set staticPages = ["/", "/publicaciones/", "/temas/", "/playlists/", "/streaming/", "/nosotros/", "/contacto/", "/buscar/"] %}
  {% for url in staticPages %}
  <url>
    <loc>{{ site.url }}{{ url }}</loc>
  </url>
  {% endfor %}

  {% for item in collections.archivo %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | dateToRfc3339 }}</lastmod>
  </url>
  {% endfor %}

</urlset>
